<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
	<nav th:insert="~{fragments/navigation :: block-navigation('Creazione nuovo socio')}"></nav>
	<div class="container-fluid mt-3" align="center">
		<div th:if="${errorMsg}" class="alert alert-danger" th:text="${errorMsg}"></div>
		<form class="form-content" th:action="@{saveSocio}" th:object="${socio}"
			method="post"
			style="width:50%; margin:auto">
		
			<table class="table table-secondary m-25">
				<tr>
					<td><label class="form-label">Nome</label><td>
					<td><input type="text" th:field="*{nome}" placeholder="es. Paolo" required></td>
				</tr>
				<tr>
					<td><label class="form-label">Cognome</label><td>
					<td><input type="text" th:field="*{cognome}" placeholder="es. Rossi" required></td>
				</tr>
				<tr>
					<td><label class="form-label">Codice Fiscale</label><td>
					<td><input type="text" th:field="*{codiceFiscale}" placeholder="es. Rossi" required></td>
				</tr>
				<tr>
					<td><label class="form-label">Email</label><td>
					<td><input type="text" th:field="*{email}" placeholder="es. pippo@aaa.it" required></td>
				</tr>
				
			
			</table>
				<div class="mt-4" align="center">
					<button type="submit" class="btn btn-primary">Registra socio</button>
				</div>
		
		
		
		</form>
	</div>
</body>
</html>