<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<title>List Socio</title>
</head>
<body>
	<nav th:insert="~{fragments/navigation :: block-navigation('Elenco soci')}"></nav>



	<div class="container-fluid mt-3" align="center">
		<form th:action="@{listSocio}" th:object="${param}"
			  method="get"	
			  class="row g-3 align-items-center mb-4"
		      style="width:60%; margin:auto;">
		
			<div class="col-auto">
				<input type="text" name="nome" class="form-control"
					placeholder="Nome" th:value="${param.nome}">
			</div>
			<div class="col-auto">
				<input type="text" name="cognome" class="form-control"
					placeholder="Cognome" th:value="${param.cognome}">
			</div>
			<div class="col-auto">
				<select class="form-select" th:field="*{attivita}">
					<option value="">Selezione attivita</option>
					<option  th:each="att : ${listAttivita}"
						th:value="${att.id}"
						th:text="${att.descrizione}">
					</option>
				</select>
			</div>
			<div class="col-auto ms-auto">
				<button type="submit" class="btn btn-primary">cerca</button>
				<a th:href="@{createSocio}" class="btn btn-secondary">Nuovo socio</a>
			</div>
		</form>
	
	
	
	<table class="table table-secondary" style="width: 60%; text-align: center">
		<thead>
			<th>Nome</th>
			<th>Cognome</th>		
			<th>Email</th>
			<th>Codice Fiscale</th>
			<th>Certificato Medico</th>
			<th>Abbonamento</th>
		</thead>
		
		<tbody>
			<tr th:each="socio : ${listsocio}" 
				th:attr="data-id=${socio.id}"
				class="clickable-row" style="cursor:pointer" >
				<td align="center">[[${socio.nome}]]</td>
				<td align="center">[[${socio.cognome}]]</td>
				<td align="center">[[${socio.email}]]</td>
				<td align="center">[[${socio.codiceFiscale}]]</td>		
				<td>
					<span th:text="${socio.certificato} != null ? ${socio.certificato.tipo} : 'senza'"></span>
				</td>
				<td align="center" class="noselect">
					<a th:href="@{listAbbonamento(id=${socio.id})}">
						<span th:text="${#lists.size(socio.abbonamento) > 0} ? 'abbonamento attivi' : 'senza abbonamento'"></span>
					</a>
				</td>
			</tr>
		</tbody>
	
	
	</table>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function(){
		const rows = document.querySelectorAll(".clickable-row");
		rows.forEach(row => {
			row.addEventListener("click", () => {
				if (event.target.closest(".noselect")){
					return;
				}
				const socioId = row.getAttribute("data-id");
				if (socioId){
					 window.location.href = `/updateSocio?id=${socioId}`;
				}			
			});		
		});
	});

</script>


</body>
</html>