<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand"
				href="https://www.betacom.it/betacom-academy/">Centro Sportivo</a>		
		</div>
	</nav>
	<form  th:action="@{login}" method="post">
		<div align="center" class="row mb-4">
			<h1>Login</h1>
			<div th:if="${param.error}" style="color:red" class="mb-4">Invalid username password</div>
			<div>
				<input type="text" name="username" class="form-text" placeholder="introdurre username" />
			</div>
							
			<div>
				<input type="password" name="password" class="form-text" placeholder="introdurre password" />
			</div>
		
			<div align="center" class="mt-2">
				<input type="submit" class="btn btn-sucess" value="Sign in">	
			</div>
			<div align="center" class="mt-2">
				<a class="col-2" th:href="@{/registry}">Nouvo utente</a>	
			</div>
		
		
		</div>
	
	
	</form>
</body>
</html>