<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<title>Registrazione</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand"
				href="https://www.betacom.it/betacom-academy/">Centro Sportivo</a>		
		</div>
	</nav>
	<form  th:action="@{saveNuovoUtente}" th:object="${req}" method="post">
		<div th:if="${errorMsg}" class="alert alert-danger" th:text="${errorMsg}"></div>
		<div>
			<input type="text" name="username" th:field="*{userName}" class="form-text" placeholder="userName" required />
		</div>
		<div>
			<input type="password" name="password" th:field="*{pwd}" class="form-text" placeholder="Password" required />
		</div>
		<div>
			<input type="email" name="email" th:field="*{email}" class="form-text" placeholder="indirizzo mail" />
		</div>
	
	
		<div>
			<button type="submit" class="btn btn-primary">Registra</button>
		
		</div>
	
	
	
	</form>




</body>
</html>